@import 'tailwindcss';

/* @plugin 'tailwindcss-motion' */


.bg-123 {
    background-color: aqua;
}

body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: none;
}

body::-webkit-scrollbar {
    display: none;
}

.antialiased-border {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.cal-sans-regular {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.share-tech-regular {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.oswald-best {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
li{
    list-style-type: '✠';

}
li::marker{
    color: hotpink;
}