@import 'tailwindcss';

/* @plugin 'tailwindcss-motion' */

@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #f0f, 0 0 20px #f0f, 0 0 40px #0ff;
  }
  50% {
    text-shadow: 0 0 10px #fff, 0 0 20px #f0f, 0 0 30px #f0f, 0 0 60px #0ff;
  }
}

  @layer utilities {
    .glow-text {
      animation: glow 3s ease-out infinite;
    }
  }

  @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @layer utilities {
    .animate-gradient {
      animation: gradient-move 6s ease infinite;
    }
  }

.bg-123 {
    background-color: aqua;
}

body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: none;
}

body::-webkit-scrollbar {
    display: none;
}

.antialiased-border {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.cal-sans-regular {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.share-tech-regular {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.oswald-best {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
li{
    list-style-type: '✠';

}
li::marker{
    color: hotpink;
}